.products header p {
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (min-width: 769) and (max-width: 815px) {
  .products-container {
    grid-template-columns: repeat(2, 350px);
  }
}
.products-container img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  transition: 0.4s all;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.products-container img:hover {
  cursor: pointer;
}
.product {
  background-color: #f0ecec;
  border-radius: 18px;
}
.product-overlay {
  position: relative;
}

.product-overlay:hover .product-buttons {
  opacity: 1;
  transform: translateY(0px) translateX(-50%);
}
.product-overlay:hover img {
  opacity: 0.5;
}
.product-buttons {
  position: absolute;
  top: 35%;
  left: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  z-index: 100;
  opacity: 0;
  transform: translateY(-50px) translateX(-50%);
  transition: 0.3s all;
}
.product-buttons button {
  width: 100px;
  background-color: var(--blackColor);
  color: var(--whiteColor);
}
.product .text {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .text p {
  margin-bottom: 5px;
}
.product .text i {
  font-size: 20px;
  cursor: pointer;
}
.fa-regular.fa-heart {
  color: black;
}
.fa-regular.fa-heart:hover {
  color: rgb(206, 6, 6);
}
.fa-solid.fa-heart {
  color: rgb(206, 6, 6);
}

.lazy-img {
  filter: blur(10px);
  transition: filter 0.3s;
}

img:not(.lazy-img) {
  filter: none;
}
.view-product {
  background-color: var(--whiteColor);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 450px;
  display: flex;
  gap: 30px;
  z-index: 103;
  background-color: #fff;
  padding: 30px;
  /* align-items: center; */
  border-radius: 10px;
}
.view-overlay {
  z-index: 110;
}
.view-product .view-image {
  flex-basis: 50%;
  align-self: center;
}
.view-product img {
  width: 90%;
  max-width: 100%;
  border-radius: 30px;
}
.view-product .view-info {
  flex-basis: 50%;
  position: relative;
}
.view-info .description {
  color: var(--pinkColor);
  margin-top: 15px;
}
.view-info .price,
.view-info .tax {
  color: #696969;
}
.view-info .price {
  margin-top: 10px;
  font-size: 20px;
}
.view-info .tax {
  margin-top: 30px;
  font-size: 14px;
}
.view-info .remaining {
  margin: 20px 0px;
  font-size: 14px;
  color: var(--pinkColor);
  font-weight: bold;
}
.view-info .buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 40px;
}
.view-info .input-quantity {
  display: flex;
  width: 130px;
  gap: 10px;
  margin: 20px 0px;
  border: solid 1px var(--blackColor);
  padding: 10px;
  border-radius: 30px;
}
.view-info .quantity {
  color: black;
  text-align: center;
  font-weight: 600;
  border: none;
  width: 50px;
  font-size: 18px;
}
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.fa-plus,
.fa-minus {
  line-height: 1.1 !important;
}
.view-product .fa-xmark,
.view-info .fa-heart {
  font-size: 20px;
  border: 1px solid var(--blackColor);
  padding: 10px;
  border-radius: 50%;
}
.view-info .fa-xmark {
  position: absolute;
  top: -12%;
  right: -12%;
  border: 2px solid var(--whiteColor);
  background-color: var(--hotpinkColor);
  color: var(--whiteColor);
}
.view-info .fa-heart {
  align-self: center;
}

.products i {
  cursor: pointer;
}
.view-info .fa-heart:hover {
  border: var(--pinkColor) solid 2px;
}
.view-info .buttons .add-to-cart {
  flex-basis: 100%;
  align-self: flex-end;
}
