@import "./nav.css";
@import "./landing.css";
@import "./products.css";
@import "./shoppingList.css";
@import "./aboutUs.css";
@import "./recommendations.css";
@import "./slider.css";
@import "./makeup.css";
@import "./contact.css";
@import "./footer.css";
/* #E65783 */
:root {
  /* --hotpinkColor: rgb(255, 135, 185); */
  --hotpinkColor: #fd729e;
  /* #ff69b4 */

  --lightPinkColor: #ffd5e6;
  --grayColor: #696969;
  --mainColor: #e04660;
  --cuteColor: #f9e3e6;
  --secondaryColor: #fae8e0;
  --whiteColor: #fbf8f7;
  --darkPinkColor: #fc408f;
  --sectionpadding: 110px;
  --blackColor: #232323;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto ", sans-serif;
  color: var(--textColor);
  background-color: var(--whiteColor);

  overflow-x: hidden;
}
h2 {
  font-family: "Playwrite GB S", cursive;
}
header h2 {
  color: var(--hotpinkColor);
  text-align: center;
  margin: 40px;
  font-size: 35px;
}
button {
  cursor: pointer;
  font-weight: bold;
}
section {
  margin: var(--sectionpadding) 0px;
  /* padding: 20px 0px; */
  /* padding: var(--sectionpadding) 0px; */
  transition: transform 1s, opacity 1s;
}
.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}
ul {
  list-style: none;
}
/* .lazy {
  filter: blur(20px);
} */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.btn {
  padding: 12px;
  background-color: var(--hotpinkColor);
  border: none;
  color: #f9e3e6;
  display: inline-block;
  width: 140px;
  transition: 0.3s background-color, 0.3s color;
  border-radius: 25px;
}
.btn:hover {
  background-color: var(--blackColor);
  color: var(--hotpinkColor);
}
img {
  width: 100%;
  max-width: 100%;
}
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--darkPinkColor); /* Green for success */
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}
